<a href="https://colab.research.google.com/github/sadoky/Pandas/blob/master/TALLER1_IA.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [42]:
# Ejercicio de promedios 

prom=(23+32+64)/3
prom

39.666666666666664

In [45]:
#Cuantas baldosas se necesitan
need=9*7+5*7
need
#Cuantas sobran
full=17*6-(9*7+5*7)
full

4

In [63]:
#
vol_dep=4.445e8
vol_dep

444500000.0

In [58]:
#CANTIDAD DE LLUVIA
lluvia1=5e6

#Disminuir la variable lluvia un 10%
lluvia1*=0.9
lluvia1

4500000.0

In [64]:
#AGREGAR LA CANTIDAD DE LLUVIA AL DEPOSITO
vol_dep+=lluvia1
#VOLUMEN DEL DEPOSITO AUMENTADO UN 5%
vol_dep*=1.05
#disminuir el volumen del deposito 5%
vol_dep*=0.95
#RESTAR 2.5e5 al volumen del deposito
vol_dep-=2.5e5
vol_dep

447627500.0

In [57]:
# Ejercicio del mensaje de acceso 

username="sadoky"
timestap="03:12"
url="https://www.duolingo.com/learn"
message=username+" acces the site "+url+" at "+timestap
message

'sadoky acces the site https://www.duolingo.com/learn at 03:12'

In [18]:
#Ejercicio tama単o del nombre 

name1="santiago"
name2="danilo"

apellido="Quiroz"

tama単o_del_nombre=len(name1+name2+apellido)
tama単o_del_nombre

20

In [19]:
limite_de_caracteres=28
tama単o_del_nombre<=limite_de_caracteres

True

In [22]:
# Ejercicio total de ventas 


mon_sales="121"
tues_sales="105"
wed_sales="110"
thrus_sales="98"
fri_sales="95"

type(mon_sales)
type(tues_sales)
type(wed_sales)
type(thrus_sales)
type(fri_sales)

str

In [27]:
var1=int(mon_sales)
var2=int(tues_sales)
var3=int(wed_sales)
var4=int(thrus_sales)
var5=int(fri_sales)

ventas=var1+var2+var3+var4+var5
ventas

529

In [41]:
message_final=" las ventas totales son  "+str(ventas)
message_final

' las ventas totales son  529'